{% extends "base.html" %}
{% block body %}
        <div class="container page-wrap">
            <div class="row">
                <div class="col-md-12">
                    <h1> About this website </h1>
                    <h3>Who made this website?</h3>
                    <p> Hi there! My name is Angel Medrano and I am a web developer here in RI. When my daughter was born, my sleeping pattern changed. I found that I was up pretty early some mornings and decide to take up fishing. Being from Texas I wasn't really knowledgable about where I could fish in RI. I searched on line and found a few websites that mentioned places to fish but nothing really concrete. I called DEM and requested information and got sent a beautiful paper map from 2003 as well as a fishing abstract. Both where helpful but not really what I was looking for. So I decided to "roll my own" as they say. My hope is that this will provide anyone looking for a fishing spot quick and up to date information.
                    
                    </p>
                    <h3>Where does the data come from?</h3>
                    <p>All data on this website is publicly available on the RIGIS website. It was last updated in 2012. You can find the raw shape files here: <a target="blank" href="http://www.edc.uri.edu/rigis/data/"> http://www.edc.uri.edu/rigis/data/</a></p>

                    <h3>Help me keep this up to date!</h3>
                    <p>Did I miss a location? Is something wrong on the map? Help me keep this map up to date so we can all have a great time fishing! Feel free to submit any info you'd like by sending me an email asmedrano@gmail.com</p>
                </div>
            </div>
        </div>
{% endblock %}
