<!doctype html>
<html lang="en" ng-app="wri">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rhode Island Fisheries</title>
        <meta name="description" content="A Searchable Map of fishing locations in Rhode Island">
        <link rel="stylesheet" href="static/vendor/leaflet/dist/leaflet.css">
        <link rel="stylesheet" href="static/vendor/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/app.css">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="collapse navbar-collapse">
                <div class="navbar-header">
                        <a class="navbar-brand" href="#">Rhode Island <small>Fisheries</small></a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/about.html">About</a></li>
                </ul>
            </div><!-- /.navbar-collapse --> 
        </nav>
        <div class="container-fluid">
            <div class="row" ng-controller="MapCtrl">
                <div class="col-md-12" id="map"></div>
                <div class="controls-box" ng-show="pub_fish_acc_available || lakes_ponds_available" ng-class="{double:pub_fish_acc_available && lakes_ponds_available}"> 
                    <form role="form" id="lake-pond" ng-show="lakes_ponds_available">
                        <h4> Lakes and Ponds ({{lakes_count}})</h4>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-change="nameSearchText('lakes_ponds')" name="" ng-model="lakes_search_name" placeholder="Ex: Woonasqatucket River">
                            <div class="checkbox">
                                <label> <input type="checkbox" ng-change="searchLakesMap()" ng-model="lakes_trt_stk">Trout Stocked </label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" ng-change="searchLakesMap()" ng-model="lakes_pub_acc">Public Access </label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" ng-change="searchLakesMap()" ng-model="lakes_boat_rmp">Boat Ramp</label>
                            </div>
                        </div>

                        <div class="form-group" id="calm-select">
                            <label<span class="help-block">RIDEM <a target="blank" href="http://www.dem.ri.gov/programs/benviron/water/quality/pdf/finlcalm.pdf">CALM</a> <small><a target="blank" href="http://www.dem.ri.gov/pubs/303d/303d12.pdf">More Info </a></small></span></label>
                            <select class="form-control" ng-model="w_cat" ng-change="searchLakesMap()" ng-options="t as t for t in w_cat_types">
                                <option value="">---</option>
                            </select>
                        </div>
                    </form>


                 <form role="form" id="pub-acc" ng-show="pub_fish_acc_available">
                     <h4> Public Fishing Access ({{access.length}})</h4>
                        <div class="form-group">
                            <input type="text" class="form-control" name="" ng-change="nameSearchText('fish_acc')" ng-model="acc_search_name" placeholder="Ex: Handy Pond">
                            <div class="checkbox">
                                <label> <input type="checkbox"  ng-change="searchAccessPointsMap()"  ng-model="acc_trt_stk">Trout Stocked </label>
                            </div>
                            
                            <div class="checkbox">
                                <label><input type="checkbox"  ng-change="searchAccessPointsMap()"  ng-model="acc_boat_rmp">Boat Ramp</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox"   ng-change="searchAccessPointsMap()" ng-model="acc_slt_wtr"> Salt Water Access </label>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </body>
    <script>
        var API_URL = "http://api.rifisheries.com";
    </script>
    <script src="static/vendor/jquery/dist/jquery.min.js"></script>
    <script src="static/vendor/angular/angular.min.js"></script>
    <script src="static/vendor/leaflet/dist/leaflet.js"></script>
    <script src="static/vendor/leaflet/dist/esri-leaflet.js"></script>
    <script src="static/js/app.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-54930458-1', 'auto');
        ga('send', 'pageview');

    </script>
</html>
