<!doctype html>

<html lang="en" ng-app="wri">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" href="static/vendor/leaflet/dist/leaflet.css">
        <link rel="stylesheet" href="static/vendor/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/app.css">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row" ng-controller="MapCtrl">
                <div class="col-md-12" id="map"></div>
                <div class="controls-box" ng-show="pub_fish_acc_available || lakes_ponds_available" ng-class="{double:pub_fish_acc_available && lakes_ponds_available}"> 
                    <form role="form" id="lake-pond" ng-show="lakes_ponds_available">
                        <h4> Lakes and Ponds ({{lakes_count}})</h4>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-change="nameSearchText('lakes_ponds')" name="" ng-model="lakes_search_name" placeholder="Ex: Woonasqatucket River">
                            <div class="checkbox">
                                <label> <input type="checkbox" ng-change="searchLakesMap()" ng-model="lakes_trt_stk">Trout Stocked </label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" ng-change="searchLakesMap()" ng-model="lakes_pub_acc">Public Access </label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" ng-change="searchLakesMap()" ng-model="lakes_boat_rmp">Boat Ramp</label>
                            </div>
                        </div>

                        <div class="form-group" id="calm-select">
                            <label<span class="help-block">RIDEM <a target="blank" href="http://www.dem.ri.gov/programs/benviron/water/quality/pdf/finlcalm.pdf">CALM</a> <small><a target="blank" href="http://www.dem.ri.gov/pubs/303d/303d12.pdf">More Info </a></small></span></label>
                            <select class="form-control" ng-model="w_cat" ng-change="searchLakesMap()" ng-options="t as t for t in w_cat_types">
                                <option value="">---</option>
                            </select>
                        </div>
                    </form>


                 <form role="form" id="pub-acc" ng-show="pub_fish_acc_available">
                     <h4> Public Fishing Access ({{access.length}})</h4>
                        <div class="form-group">
                            <input type="text" class="form-control" name="" ng-change="nameSearchText('fish_acc')" ng-model="acc_search_name" placeholder="Ex: Woonasqatucket River">
                            <div class="checkbox">
                                <label> <input type="checkbox"  ng-change="searchAccessPointsMap()"  ng-model="acc_trt_stk">Trout Stocked </label>
                            </div>
                            
                            <div class="checkbox">
                                <label><input type="checkbox"  ng-change="searchAccessPointsMap()"  ng-model="acc_boat_rmp">Boat Ramp</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox"   ng-change="searchAccessPointsMap()" ng-model="acc_slt_wtr"> Salt Water Access </label>
                            </div>
                        </div>
                    </form>

                </div>

                <div class="col-md-2" id="info-box" ng-show='lake'>
                    <h1>{{lake.Name}}</h1>
                    <h5>Acres: {{lake.Acres}} </h5>
                    <h5 ng-show="lake.PubAcc == 'Y' || lake.PubAcc == 'Yes'">Public Access: Yes</h5>
                    <h5 ng-show="lake.PubAcc != 'Y' && lake.PubAcc != 'Yes'">Public Access: No</h5>
                    <h5 ng-show="lake.TroutStk == 'Y' || lake.TroutStk == 'Yes'">Trout Stocked: Yes</h5>
                    <h5 ng-show="lake.TroutStk != 'Y' && lake.TroutStk != 'Yes'">Trout Stocked: No</h5>
                    <h5 ng-show="lake.BoatRamp == 'Y' || lake.BoatRamp == 'Yes'">Boat Ramp: Yes</h5>
                    <h5 ng-show="lake.BoatRamp != 'Y' && lake.BoatRamp != 'Yes'">Boat Ramp: No</h5>
                    <h5> Restrictions: {{lake.Restriction}} </h5>
                    
                </div>
            </div>
        </div>
    </body>
    <script>
        var API_URL = "http://localhost:8000";
    </script>
    <script src="static/vendor/jquery/dist/jquery.min.js"></script>
    <script src="static/vendor/angular/angular.min.js"></script>
    <script src="static/vendor/leaflet/dist/leaflet.js"></script>
    <script src="static/vendor/leaflet/dist/esri-leaflet.js"></script>
    <script src="static/js/app.js"></script>
</html>
