{% extends "base.html" %}
{% block body %}
        <div class="container page-wrap">
            <div class="row">
                <div class="col-md-12">
                    <h1>Angler's Resources</h1>

                    <h3>Rules and Regulations</h3>
                    <p> The DEM provides guidelines for Fresh and Marine Fisheries every year. Below is a list of some of these resources.</p>
                    <ul>
                        <li><a href="http://www.dem.ri.gov/programs/bpoladm/manserv/hfb/fishing/fishing.htm" target="blank">Fishing License Online</a></li>
                        <li><a href="http://www.dem.ri.gov/pubs/regs/regs/fishwild/fish1516.pdf" target="blank">2015 - Freshwater Fishing Regulations</a></li>
                        <li><a href="http://www.dem.ri.gov/programs/bnatres/fishwild/pdf/freshabs.pdf" target="blank">2014 - Freshwater Fishing Abstract</a></li>
                        <li><a href="http://www.dem.ri.gov/pubs/regs/regs/fishwild/rimftoc.htm" target="blank">Marine Fisheries Statutes and Regulations</a></li>
                    </ul>
                </div>
            </div>
        </div>
{% endblock %}
