body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
}

#info-box{
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    background: #fff;
    border-radius: 5px;
    
}

#info-box h1 {
    margin-bottom:10px;
    font-weight:200;
    margin-top:6px;
}

#info-box h3{
    margin-top:5px;
}

.leaflet-popup h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:200;
    margin-top:2px;
    margin-bottom:5px
}

.leaflet-popup small {
    display:block;
}

.controls-box {
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    background: #fff;
    border-radius: 5px;
    position:absolute;
    padding:10px;
    z-index:1000;
    bottom: 159px;
    left: 9px;
}

#controls-box .form-group{
    margin-bottom:0px;
}

.controls-box form {
    display: block;
    float: left;
    width: 250px;
    height:240px;

}

form#lake-pond{
    margin-right:20px;
}

.double form#lake-pond{
    padding-right:20px;
    border-right:thin dashed goldenrod;
}

#controls-box .checkbox {
    display: inline-block;
    width: 130px;
}

#calm-select label{
    width:250px;
}

#calm-select select{
    width:100px;
}

.navbar {
    margin-bottom:0px;

}

